# Dependências (são pesadas e baixáveis via npm install)
node_modules/

# Build de produção
build/
dist/

# Firebase - Cache e logs
.firebase/
firebase-debug.log*

# Logs do sistema e IDEs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.vscode/
.idea/